<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container body-content">

<nav th:replace="fragments :: nav"></nav>

<table class="table" th:if="${user}">

    <tr>
        <th>Enthusiast Name</th>
        <th>Email</th>
        <th>Date Joined</th>
        <th>Id</th>

    </tr>

    <tr>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getDate()}"></td>
        <td th:text="${user.getId()}"></td>

    </tr>

</table>

</body>
</html>